 
.container {
    min-height: 100vh;
    position: relative;
}

.header, .footer {
    background-color: mediumpurple;
    text-align: left;
    padding: 20px;
    color: white;
}


.article {
    padding: 20px;
}

.memeEditor {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
}

.memeImage {
    width: 100%;
}

.memePreview {
    position: relative;
    width: 50%;
    height: fit-content;
}

.memeInsertion {
    font-family: Impact;
    text-transform: uppercase;
    font-size: large;
    position: absolute;
    color: white;
    text-shadow: 0 0 5px black,0 0 5px black, 0 0 10px black;
}

.insertionEditor {
    margin-left: 20px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%; 
}


.cssValueContainerBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: monospace;
}
.cssLabel {
    /* font-family: monospace; */
    box-sizing: content-box;
    padding: 2px;
    border: 1px solid transparent;
    cursor: pointer;
}

.cssLabel.edit {
    border: 1px solid #CCC;
}

.cssLabel:focus{
    outline: none;
} 

.cssPropertyCheckbox {
    visibility: hidden;
    margin-right: 5px;
}

.cssEditor:hover .cssPropertyCheckbox {
    visibility: visible;
}