 
.container {
    min-height: 100vh;
    position: relative;
}

.header, .footer {
    background-color: mediumpurple;
    text-align: left;
    padding: 20px;
    color: white;
}


.article {
    padding: 20px;
}

.memeEditor {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
}

.memeImage {
    width: 100%;
}

.memePreview {
    position: relative;
    width: 50%;
    height: fit-content;
}

.memeInsertion {
    font-family: Impact;
    text-transform: uppercase;
    font-size: large;
    position: absolute;
    color: white;
    text-shadow: 0 0 5px black,0 0 5px black, 0 0 10px black;
}

.insertionEditor {
    margin-left: 20px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%; 
}


.cssValueContainerBox {
    /* display: flex;
    flex-direction: row; */
    font-family: monospace;
}
.cssLabel {
    /* font-family: monospace; */
    cursor: pointer;
}

.cssLabel.edit {
    border: 1px solid #CCC;
    padding: 1px;
    box-shadow: -1px 1px 2px #CCC;
}

.cssLabel:focus{
    outline: none;
} 